{
  "openapi": "3.1.0",
  "info": {
    "title": "Predexon API",
    "description": "Prediction market data aggregation and matching API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.predexon.com"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/v1/matching-markets": {
      "get": {
        "tags": [
          "matching"
        ],
        "summary": "Get Matching Markets",
        "description": "Find matching markets across Polymarket and Kalshi platforms.\n\nProvide exactly ONE of:\n- polymarket_condition_id\n- polymarket_market_slug\n- polymarket_market_id\n- kalshi_market_ticker\n\nReturns:\n- Exact matches: Markets representing the same event\n- Related matches: Markets for correlated events",
        "operationId": "get_matching_markets_v1_matching_markets_get",
        "parameters": [
          {
            "name": "polymarket_condition_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Polymarket condition ID (hex hash)",
              "title": "Polymarket Condition Id"
            },
            "description": "Polymarket condition ID (hex hash)",
            "example": "0x6f14e52f6a1502a35406feea3f0e8d42502bbf1199e42c73a743fe1745ccc12c"
          },
          {
            "name": "polymarket_market_slug",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Polymarket market slug",
              "title": "Polymarket Market Slug"
            },
            "description": "Polymarket market slug",
            "example": "will-chappell-roan-perform-at-the-2026-grammy-awards"
          },
          {
            "name": "polymarket_market_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Polymarket market ID (numeric)",
              "title": "Polymarket Market Id"
            },
            "description": "Polymarket market ID (numeric)",
            "example": "1137275"
          },
          {
            "name": "kalshi_market_ticker",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Kalshi market ticker",
              "title": "Kalshi Market Ticker"
            },
            "description": "Kalshi market ticker",
            "example": "KXPERFORMGRAMMYS-26-CHA"
          },
          {
            "name": "match_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/MatchType"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by match type: 'exact', 'related', or 'all' (default: all)",
              "title": "Match Type"
            },
            "description": "Filter by match type: 'exact', 'related', or 'all' (default: all)",
            "example": "exact"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/PolymarketMatchResponse"
                    },
                    {
                      "$ref": "#/components/schemas/KalshiMatchResponse"
                    }
                  ],
                  "title": "Response Get Matching Markets V1 Matching Markets Get"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/matching-markets/batch": {
      "get": {
        "tags": [
          "matching"
        ],
        "summary": "Get Batch Matching Markets",
        "description": "Find matching markets for multiple market identifiers at once.\n\nProvide exactly ONE of:\n- polymarket_condition_ids\n- polymarket_market_slugs\n- polymarket_market_ids\n- kalshi_market_tickers\n\nReturns a dictionary mapping each input identifier to its matches.",
        "operationId": "get_batch_matching_markets_v1_matching_markets_batch_get",
        "parameters": [
          {
            "name": "polymarket_condition_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "List of Polymarket condition IDs",
              "title": "Polymarket Condition Ids"
            },
            "description": "List of Polymarket condition IDs",
            "example": [
              "0x6f14e52f6a1502a35406feea3f0e8d42502bbf1199e42c73a743fe1745ccc12c"
            ]
          },
          {
            "name": "polymarket_market_slugs",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "List of Polymarket slugs",
              "title": "Polymarket Market Slugs"
            },
            "description": "List of Polymarket slugs",
            "example": [
              "will-chappell-roan-perform-at-the-2026-grammy-awards"
            ]
          },
          {
            "name": "polymarket_market_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "List of Polymarket market IDs",
              "title": "Polymarket Market Ids"
            },
            "description": "List of Polymarket market IDs",
            "example": [
              "1137275"
            ]
          },
          {
            "name": "kalshi_market_tickers",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "List of Kalshi market tickers",
              "title": "Kalshi Market Tickers"
            },
            "description": "List of Kalshi market tickers",
            "example": [
              "KXPERFORMGRAMMYS-26-CHA"
            ]
          },
          {
            "name": "match_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/MatchType"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by match type: 'exact', 'related', or 'all' (default: all)",
              "title": "Match Type"
            },
            "description": "Filter by match type: 'exact', 'related', or 'all' (default: all)",
            "example": "exact"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchMatchingResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/matching-markets/pairs": {
      "get": {
        "tags": [
          "matching"
        ],
        "summary": "Get Matched Pairs",
        "description": "Get all exact market pairs across Polymarket and Kalshi.\n\nReturns exact match pairs with real-time price data and arbitrage calculations.\nResults are ordered by similarity score (highest first) and paginated.\n\nIncludes pricing data: yes/no bid/ask prices, spreads, and arbitrage opportunities.",
        "operationId": "get_matched_pairs_v1_matching_markets_pairs_get",
        "parameters": [
          {
            "name": "active_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Only return pairs where both markets are active",
              "default": true,
              "title": "Active Only"
            },
            "description": "Only return pairs where both markets are active"
          },
          {
            "name": "min_similarity",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 100,
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum similarity score (0-100)",
              "title": "Min Similarity"
            },
            "description": "Minimum similarity score (0-100)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "description": "Maximum number of pairs to return",
              "default": 100,
              "title": "Limit"
            },
            "description": "Maximum number of pairs to return"
          },
          {
            "name": "pagination_key",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Pagination key from previous response",
              "title": "Pagination Key"
            },
            "description": "Pagination key from previous response"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MatchedPairsResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/polymarket/wallet/pnl/{wallet}": {
      "get": {
        "tags": [
          "polymarket"
        ],
        "summary": "Get Wallet Pnl",
        "description": "Fetch realized profit and loss (PnL) for a specific wallet address.\n\nReturns realized gains only - from confirmed sells or redeems.\nUses user_pnl_daily for historical data and user_pnl_summary for live data.\n\nWhen condition_id is provided, returns realized PnL for that specific market only.\nThis handles split/merge operations correctly by aggregating both sides.",
        "operationId": "get_wallet_pnl_v1_polymarket_wallet_pnl__wallet__get",
        "parameters": [
          {
            "name": "wallet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Wallet address to fetch PnL for",
              "title": "Wallet"
            },
            "description": "Wallet address to fetch PnL for"
          },
          {
            "name": "granularity",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/PnLGranularity",
              "description": "Time granularity for PnL data"
            },
            "description": "Time granularity for PnL data"
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Unix timestamp (seconds) for start of range",
              "title": "Start Time"
            },
            "description": "Unix timestamp (seconds) for start of range"
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Unix timestamp (seconds) for end of range",
              "title": "End Time"
            },
            "description": "Unix timestamp (seconds) for end of range"
          },
          {
            "name": "condition_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter to a specific market by condition ID",
              "title": "Condition Id"
            },
            "description": "Filter to a specific market by condition ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletPnLResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/polymarket/wallet/positions/{wallet}": {
      "get": {
        "tags": [
          "polymarket"
        ],
        "summary": "Get Wallet Positions",
        "description": "Fetch current positions for a wallet address.\n\nReturns all open positions with cost basis, current market prices, and P&L calculations.\nUses real-time PostgreSQL data for positions.\nSupports filtering by market_slug or condition_id.",
        "operationId": "get_wallet_positions_v1_polymarket_wallet_positions__wallet__get",
        "parameters": [
          {
            "name": "wallet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Wallet address to fetch positions for",
              "title": "Wallet"
            },
            "description": "Wallet address to fetch positions for"
          },
          {
            "name": "include_closed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include zero-balance (closed) positions",
              "default": true,
              "title": "Include Closed"
            },
            "description": "Include zero-balance (closed) positions"
          },
          {
            "name": "min_shares",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0.0,
              "description": "Minimum number of shares to include",
              "default": 0,
              "title": "Min Shares"
            },
            "description": "Minimum number of shares to include"
          },
          {
            "name": "market_slug",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by market slug",
              "title": "Market Slug"
            },
            "description": "Filter by market slug"
          },
          {
            "name": "condition_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter to a specific market by condition ID",
              "title": "Condition Id"
            },
            "description": "Filter to a specific market by condition ID"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PositionSortBy",
              "description": "Field to sort by",
              "default": "value"
            },
            "description": "Field to sort by"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/OrderDirection",
              "description": "Sort order: asc or desc",
              "default": "desc"
            },
            "description": "Sort order: asc or desc"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "description": "Maximum number of positions to return (1-200)",
              "default": 100,
              "title": "Limit"
            },
            "description": "Maximum number of positions to return (1-200)"
          },
          {
            "name": "pagination_key",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cursor for pagination",
              "title": "Pagination Key"
            },
            "description": "Cursor for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletPositionsResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/polymarket/candlesticks/{condition_id}": {
      "get": {
        "tags": [
          "polymarket"
        ],
        "summary": "Get Candlesticks",
        "description": "Fetch historical candlestick data for a market.\n\nReturns combined OHLCV data from both YES and NO tokens, normalized to YES perspective.\nNO token prices are converted as (1 - price) and volumes are combined.",
        "operationId": "get_candlesticks_v1_polymarket_candlesticks__condition_id__get",
        "parameters": [
          {
            "name": "condition_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Condition ID for the market",
              "title": "Condition Id"
            },
            "description": "Condition ID for the market"
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Unix timestamp (seconds) for start of time range",
              "title": "Start Time"
            },
            "description": "Unix timestamp (seconds) for start of time range"
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Unix timestamp (seconds) for end of time range",
              "title": "End Time"
            },
            "description": "Unix timestamp (seconds) for end of time range"
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Interval: 1=1m, 60=1h, 1440=1d",
              "default": 1,
              "title": "Interval"
            },
            "description": "Interval: 1=1m, 60=1h, 1440=1d"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandlesticksResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/polymarket/market-price/{token_id}": {
      "get": {
        "tags": [
          "polymarket"
        ],
        "summary": "Get Market Price",
        "description": "Fetch the current or historical market price for a token.\n\nUses last 5 trades across both tokens (Yes/No) of the market:\n- If all prices within $0.10: weighted average by USD amount\n- Otherwise: last traded price",
        "operationId": "get_market_price_v1_polymarket_market_price__token_id__get",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Token ID for the market",
              "title": "Token Id"
            },
            "description": "Token ID for the market"
          },
          {
            "name": "at_time",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Unix timestamp (seconds) for historical price",
              "title": "At Time"
            },
            "description": "Unix timestamp (seconds) for historical price"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketPriceResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/polymarket/activity": {
      "get": {
        "tags": [
          "polymarket"
        ],
        "summary": "Get Activity",
        "description": "Fetch activity data for a specific user.\n\nUses the MV-populated activity_unified_table for optimal single-table query performance.",
        "operationId": "get_activity_v1_polymarket_activity_get",
        "parameters": [
          {
            "name": "wallet",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Wallet address",
              "title": "Wallet"
            },
            "description": "Wallet address"
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Unix timestamp (seconds) for start",
              "title": "Start Time"
            },
            "description": "Unix timestamp (seconds) for start"
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Unix timestamp (seconds) for end",
              "title": "End Time"
            },
            "description": "Unix timestamp (seconds) for end"
          },
          {
            "name": "market_slug",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by market slug",
              "title": "Market Slug"
            },
            "description": "Filter by market slug"
          },
          {
            "name": "condition_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by condition ID",
              "title": "Condition Id"
            },
            "description": "Filter by condition ID"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ActivitySortBy",
              "description": "Sort by: timestamp or type",
              "default": "timestamp"
            },
            "description": "Sort by: timestamp or type"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "description": "Number of activities to return (1-200)",
              "default": 100,
              "title": "Limit"
            },
            "description": "Number of activities to return (1-200)"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/OrderDirection",
              "description": "Sort order: asc or desc",
              "default": "desc"
            },
            "description": "Sort order: asc or desc"
          },
          {
            "name": "pagination_key",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Pagination key for cursor-based pagination",
              "title": "Pagination Key"
            },
            "description": "Pagination key for cursor-based pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/polymarket/markets": {
      "get": {
        "tags": [
          "polymarket"
        ],
        "summary": "Get Markets",
        "description": "List markets with filtering and sorting from PostgreSQL database.\n\nConsolidates active and closed markets into a single endpoint.\nUse status=open for active markets only.\n\nRolling metrics (volume_1d/7d/30d, trades, OI) are sourced from\nthe market_metrics_summary table, refreshed hourly by the indexer cron.",
        "operationId": "get_markets_v1_polymarket_markets_get",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/StatusOption"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by status: open or closed",
              "title": "Status"
            },
            "description": "Filter by status: open or closed"
          },
          {
            "name": "min_price",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "maximum": 1.0,
                  "minimum": 0.0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum price",
              "title": "Min Price"
            },
            "description": "Minimum price"
          },
          {
            "name": "max_price",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "maximum": 1.0,
                  "minimum": 0.0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum price",
              "title": "Max Price"
            },
            "description": "Maximum price"
          },
          {
            "name": "min_open_interest",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "minimum": 0.0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum open interest (USD)",
              "title": "Min Open Interest"
            },
            "description": "Minimum open interest (USD)"
          },
          {
            "name": "min_volume",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "minimum": 0.0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum volume (USD)",
              "title": "Min Volume"
            },
            "description": "Minimum volume (USD)"
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "maxItems": 50
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by tag(s)",
              "title": "Tags"
            },
            "description": "Filter by tag(s)"
          },
          {
            "name": "event_slug",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "maxItems": 50
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by event slug(s)",
              "title": "Event Slug"
            },
            "description": "Filter by event slug(s)"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Search in title (minimum 3 characters)",
              "title": "Search"
            },
            "description": "Search in title (minimum 3 characters)"
          },
          {
            "name": "condition_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "maxItems": 50
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by condition ID(s)",
              "title": "Condition Id"
            },
            "description": "Filter by condition ID(s)"
          },
          {
            "name": "question_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "maxItems": 50
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by question ID(s)",
              "title": "Question Id"
            },
            "description": "Filter by question ID(s)"
          },
          {
            "name": "market_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "maxItems": 50
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by market ID(s)",
              "title": "Market Id"
            },
            "description": "Filter by market ID(s)"
          },
          {
            "name": "market_slug",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "maxItems": 50
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by market slug(s)",
              "title": "Market Slug"
            },
            "description": "Filter by market slug(s)"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/app__api__v1__polymarket__markets_list__SortOption",
              "description": "Sort by",
              "default": "volume"
            },
            "description": "Sort by"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Number of markets to return",
              "default": 20,
              "title": "Limit"
            },
            "description": "Number of markets to return"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "minimum": 0,
              "description": "Number of markets to skip",
              "default": 0,
              "title": "Offset"
            },
            "description": "Number of markets to skip"
          },
          {
            "name": "min_volume_1d",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "minimum": 0.0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum rolling 1-day volume (USD)",
              "title": "Min Volume 1D"
            },
            "description": "Minimum rolling 1-day volume (USD)"
          },
          {
            "name": "min_volume_7d",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "minimum": 0.0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum rolling 7-day volume (USD)",
              "title": "Min Volume 7D"
            },
            "description": "Minimum rolling 7-day volume (USD)"
          },
          {
            "name": "min_volume_30d",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "minimum": 0.0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum rolling 30-day volume (USD)",
              "title": "Min Volume 30D"
            },
            "description": "Minimum rolling 30-day volume (USD)"
          },
          {
            "name": "min_trades_1d",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum rolling 1-day trade count",
              "title": "Min Trades 1D"
            },
            "description": "Minimum rolling 1-day trade count"
          },
          {
            "name": "min_trades_7d",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum rolling 7-day trade count",
              "title": "Min Trades 7D"
            },
            "description": "Minimum rolling 7-day trade count"
          },
          {
            "name": "min_trades_30d",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum rolling 30-day trade count",
              "title": "Min Trades 30D"
            },
            "description": "Minimum rolling 30-day trade count"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolymarketMarketsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/polymarket/markets/{token_id}/volume": {
      "get": {
        "tags": [
          "polymarket"
        ],
        "summary": "Get Market Volume Time Series",
        "description": "Return historical time series of traded volume for a token (day+ granularity).",
        "operationId": "get_market_volume_time_series_v1_polymarket_markets__token_id__volume_get",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Token ID for the market",
              "title": "Token Id"
            },
            "description": "Token ID for the market"
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PnLGranularity",
              "description": "Time granularity",
              "default": "day"
            },
            "description": "Time granularity"
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Unix timestamp (seconds) for start",
              "title": "Start Time"
            },
            "description": "Unix timestamp (seconds) for start"
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Unix timestamp (seconds) for end",
              "title": "End Time"
            },
            "description": "Unix timestamp (seconds) for end"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketVolumeTimeSeriesResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/polymarket/markets/{condition_id}/open_interest": {
      "get": {
        "tags": [
          "polymarket"
        ],
        "summary": "Get Market Open Interest Time Series",
        "description": "Provide historical open interest (total value of tokens circulating from split, merge, redeem, and conversion events) with min granularity day.",
        "operationId": "get_market_open_interest_time_series_v1_polymarket_markets__condition_id__open_interest_get",
        "parameters": [
          {
            "name": "condition_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Condition ID for the market",
              "title": "Condition Id"
            },
            "description": "Condition ID for the market"
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PnLGranularity",
              "description": "Time granularity",
              "default": "day"
            },
            "description": "Time granularity"
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Unix timestamp (seconds) for start",
              "title": "Start Time"
            },
            "description": "Unix timestamp (seconds) for start"
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Unix timestamp (seconds) for end",
              "title": "End Time"
            },
            "description": "Unix timestamp (seconds) for end"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketOpenInterestTimeSeriesResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/polymarket/orderbooks": {
      "get": {
        "tags": [
          "polymarket"
        ],
        "summary": "Get Orderbooks",
        "description": "Fetch historical orderbook snapshots for a specific asset (token ID) over a specified time range.\n\nReturns snapshots of the order book including bids, asks, and market metadata in order.\nAll timestamps are in milliseconds. Orderbook data has history starting from January 1st, 2026.",
        "operationId": "get_orderbooks_v1_polymarket_orderbooks_get",
        "parameters": [
          {
            "name": "token_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The token ID (asset) for the Polymarket market",
              "title": "Token Id"
            },
            "description": "The token ID (asset) for the Polymarket market"
          },
          {
            "name": "start_time",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Start time in Unix timestamp (milliseconds)",
              "title": "Start Time"
            },
            "description": "Start time in Unix timestamp (milliseconds)"
          },
          {
            "name": "end_time",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "End time in Unix timestamp (milliseconds)",
              "title": "End Time"
            },
            "description": "End time in Unix timestamp (milliseconds)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "description": "Maximum number of snapshots to return",
              "default": 100,
              "title": "Limit"
            },
            "description": "Maximum number of snapshots to return"
          },
          {
            "name": "pagination_key",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Pagination key to get the next chunk of data",
              "title": "Pagination Key"
            },
            "description": "Pagination key to get the next chunk of data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderbooksResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/polymarket/trades": {
      "get": {
        "tags": [
          "polymarket"
        ],
        "summary": "Get Trades",
        "description": "Fetch historical trade data.\n\nReturns trades from Polymarket with support for:\n- Filtering by market_slug, condition_id, token_id, or user\n- Time range filtering\n- Cursor-based pagination\n\nAt least one of market_slug, condition_id, token_id, or user must be provided.",
        "operationId": "get_trades_v1_polymarket_trades_get",
        "parameters": [
          {
            "name": "market_slug",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by market slug",
              "title": "Market Slug"
            },
            "description": "Filter by market slug"
          },
          {
            "name": "condition_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by condition ID",
              "title": "Condition Id"
            },
            "description": "Filter by condition ID"
          },
          {
            "name": "token_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by token ID",
              "title": "Token Id"
            },
            "description": "Filter by token ID"
          },
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Unix timestamp (seconds) for start",
              "title": "Start Time"
            },
            "description": "Unix timestamp (seconds) for start"
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Unix timestamp (seconds) for end",
              "title": "End Time"
            },
            "description": "Unix timestamp (seconds) for end"
          },
          {
            "name": "min_total",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "minimum": 0.0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum trade amount in USD",
              "title": "Min Total"
            },
            "description": "Minimum trade amount in USD"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "description": "Number of trades to return",
              "default": 100,
              "title": "Limit"
            },
            "description": "Number of trades to return"
          },
          {
            "name": "wallet",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by wallet address",
              "title": "Wallet"
            },
            "description": "Filter by wallet address"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/OrderDirection",
              "description": "Sort order: asc or desc",
              "default": "desc"
            },
            "description": "Sort order: asc or desc"
          },
          {
            "name": "pagination_key",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cursor for pagination",
              "title": "Pagination Key"
            },
            "description": "Cursor for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradesResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/polymarket/volume-chart/{condition_id}": {
      "get": {
        "tags": [
          "polymarket"
        ],
        "summary": "Get Volume Chart",
        "description": "Fetch volume chart data for a market, broken down by YES/NO side.\n\nReturns per-period total, YES, and NO volume aggregated from trade events.",
        "operationId": "get_volume_chart_v1_polymarket_volume_chart__condition_id__get",
        "parameters": [
          {
            "name": "condition_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Condition ID for the market",
              "title": "Condition Id"
            },
            "description": "Condition ID for the market"
          },
          {
            "name": "granularity",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/VolumeChartGranularity",
              "description": "Time granularity: hour, day, or week",
              "default": "hour"
            },
            "description": "Time granularity: hour, day, or week"
          },
          {
            "name": "start_time",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Unix timestamp (seconds) for start of time range",
              "title": "Start Time"
            },
            "description": "Unix timestamp (seconds) for start of time range"
          },
          {
            "name": "end_time",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Unix timestamp (seconds) for end of time range",
              "title": "End Time"
            },
            "description": "Unix timestamp (seconds) for end of time range"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeChartResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/polymarket/wallet/{wallet}": {
      "get": {
        "tags": [
          "polymarket",
          "smart-wallet"
        ],
        "summary": "Get Wallet Profile",
        "description": "Get complete smart wallet profile.\n\nReturns all metrics across all time windows and style classifications.\nUses PostgreSQL for all_time (real-time) and ClickHouse for rolling windows.",
        "operationId": "get_wallet_profile_v1_polymarket_wallet__wallet__get",
        "parameters": [
          {
            "name": "wallet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Wallet address (hex)",
              "title": "Wallet"
            },
            "description": "Wallet address (hex)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletProfileResponse"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/polymarket/leaderboard": {
      "get": {
        "tags": [
          "polymarket",
          "smart-wallet"
        ],
        "summary": "Get Leaderboard",
        "description": "Get global leaderboard of smart wallets.\n\nSupports filtering by trading styles and numeric thresholds.\nUses ClickHouse rolling tables for all time windows.",
        "operationId": "get_leaderboard_v1_polymarket_leaderboard_get",
        "parameters": [
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/TimeWindow",
              "description": "Time window for metrics",
              "default": "all_time"
            },
            "description": "Time window for metrics"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/LeaderboardSortBy",
              "description": "Sort field",
              "default": "pnl"
            },
            "description": "Sort field"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/OrderDirection",
              "description": "Sort order",
              "default": "desc"
            },
            "description": "Sort order"
          },
          {
            "name": "style",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated styles to include (OR logic)",
              "title": "Style"
            },
            "description": "Comma-separated styles to include (OR logic)"
          },
          {
            "name": "exclude_style",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated styles to exclude",
              "title": "Exclude Style"
            },
            "description": "Comma-separated styles to exclude"
          },
          {
            "name": "min_pnl",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum PnL in USD",
              "title": "Min Pnl"
            },
            "description": "Minimum PnL in USD"
          },
          {
            "name": "max_pnl",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum PnL in USD",
              "title": "Max Pnl"
            },
            "description": "Maximum PnL in USD"
          },
          {
            "name": "min_volume",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "minimum": 0.0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum volume in USD",
              "title": "Min Volume"
            },
            "description": "Minimum volume in USD"
          },
          {
            "name": "min_trades",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum trade count",
              "title": "Min Trades"
            },
            "description": "Minimum trade count"
          },
          {
            "name": "min_roi",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum ROI (decimal)",
              "title": "Min Roi"
            },
            "description": "Minimum ROI (decimal)"
          },
          {
            "name": "min_profit_factor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "minimum": 0.0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum profit factor",
              "title": "Min Profit Factor"
            },
            "description": "Minimum profit factor"
          },
          {
            "name": "min_win_rate",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "maximum": 1.0,
                  "minimum": 0.0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum win rate (decimal)",
              "title": "Min Win Rate"
            },
            "description": "Minimum win rate (decimal)"
          },
          {
            "name": "min_avg_trade_usd",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "minimum": 0.0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum avg trade size in USD",
              "title": "Min Avg Trade Usd"
            },
            "description": "Minimum avg trade size in USD"
          },
          {
            "name": "min_wallet_age_days",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum wallet age in days",
              "title": "Min Wallet Age Days"
            },
            "description": "Minimum wallet age in days"
          },
          {
            "name": "min_avg_buy_price",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "maximum": 1.0,
                  "minimum": 0.0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum avg buy price (0-1)",
              "title": "Min Avg Buy Price"
            },
            "description": "Minimum avg buy price (0-1)"
          },
          {
            "name": "max_avg_buy_price",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "maximum": 1.0,
                  "minimum": 0.0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum avg buy price (0-1)",
              "title": "Max Avg Buy Price"
            },
            "description": "Maximum avg buy price (0-1)"
          },
          {
            "name": "min_avg_sell_price",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "maximum": 1.0,
                  "minimum": 0.0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum avg sell price (0-1)",
              "title": "Min Avg Sell Price"
            },
            "description": "Minimum avg sell price (0-1)"
          },
          {
            "name": "max_avg_sell_price",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "maximum": 1.0,
                  "minimum": 0.0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum avg sell price (0-1)",
              "title": "Max Avg Sell Price"
            },
            "description": "Maximum avg sell price (0-1)"
          },
          {
            "name": "min_entry_edge",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "maximum": 1.0,
                  "minimum": -1.0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum entry edge (avg_sell - avg_buy)",
              "title": "Min Entry Edge"
            },
            "description": "Minimum entry edge (avg_sell - avg_buy)"
          },
          {
            "name": "max_entry_edge",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "maximum": 1.0,
                  "minimum": -1.0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum entry edge (avg_sell - avg_buy)",
              "title": "Max Entry Edge"
            },
            "description": "Maximum entry edge (avg_sell - avg_buy)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Results per page",
              "default": 100,
              "title": "Limit"
            },
            "description": "Results per page"
          },
          {
            "name": "pagination_key",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cursor for pagination",
              "title": "Pagination Key"
            },
            "description": "Cursor for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/polymarket/leaderboard/market/{condition_id}": {
      "get": {
        "tags": [
          "polymarket",
          "smart-wallet"
        ],
        "summary": "Get Market Leaderboard",
        "description": "Get leaderboard for a specific market.\n\nShows wallet rankings for trading performance within a single market.\nUses ClickHouse user_market_metrics_rolling for all time windows.",
        "operationId": "get_market_leaderboard_v1_polymarket_leaderboard_market__condition_id__get",
        "parameters": [
          {
            "name": "condition_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market condition ID",
              "title": "Condition Id"
            },
            "description": "Market condition ID"
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/TimeWindow",
              "description": "Time window",
              "default": "all_time"
            },
            "description": "Time window"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/LeaderboardSortBy",
              "description": "Sort field",
              "default": "pnl"
            },
            "description": "Sort field"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/OrderDirection",
              "description": "Sort order",
              "default": "desc"
            },
            "description": "Sort order"
          },
          {
            "name": "min_trades",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum trades in this market",
              "title": "Min Trades"
            },
            "description": "Minimum trades in this market"
          },
          {
            "name": "min_volume",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "minimum": 0.0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum volume in this market",
              "title": "Min Volume"
            },
            "description": "Minimum volume in this market"
          },
          {
            "name": "min_avg_buy_price",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "maximum": 1.0,
                  "minimum": 0.0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum avg buy price (0-1)",
              "title": "Min Avg Buy Price"
            },
            "description": "Minimum avg buy price (0-1)"
          },
          {
            "name": "max_avg_buy_price",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "maximum": 1.0,
                  "minimum": 0.0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum avg buy price (0-1)",
              "title": "Max Avg Buy Price"
            },
            "description": "Maximum avg buy price (0-1)"
          },
          {
            "name": "min_avg_sell_price",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "maximum": 1.0,
                  "minimum": 0.0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum avg sell price (0-1)",
              "title": "Min Avg Sell Price"
            },
            "description": "Minimum avg sell price (0-1)"
          },
          {
            "name": "max_avg_sell_price",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "maximum": 1.0,
                  "minimum": 0.0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum avg sell price (0-1)",
              "title": "Max Avg Sell Price"
            },
            "description": "Maximum avg sell price (0-1)"
          },
          {
            "name": "min_entry_edge",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "maximum": 1.0,
                  "minimum": -1.0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum entry edge (avg_sell - avg_buy)",
              "title": "Min Entry Edge"
            },
            "description": "Minimum entry edge (avg_sell - avg_buy)"
          },
          {
            "name": "max_entry_edge",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "maximum": 1.0,
                  "minimum": -1.0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum entry edge (avg_sell - avg_buy)",
              "title": "Max Entry Edge"
            },
            "description": "Maximum entry edge (avg_sell - avg_buy)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Results per page",
              "default": 100,
              "title": "Limit"
            },
            "description": "Results per page"
          },
          {
            "name": "pagination_key",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cursor for pagination",
              "title": "Pagination Key"
            },
            "description": "Cursor for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketLeaderboardResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/polymarket/wallet/{wallet}/markets": {
      "get": {
        "tags": [
          "polymarket",
          "smart-wallet"
        ],
        "summary": "Get Wallet Markets",
        "description": "Get per-market breakdown for a wallet.\n\nShows performance metrics for each market the wallet has traded in.\nUses ClickHouse rolling tables for all time windows.",
        "operationId": "get_wallet_markets_v1_polymarket_wallet__wallet__markets_get",
        "parameters": [
          {
            "name": "wallet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Wallet address",
              "title": "Wallet"
            },
            "description": "Wallet address"
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/TimeWindow",
              "description": "Time window",
              "default": "all_time"
            },
            "description": "Time window"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/LeaderboardSortBy",
              "description": "Sort field",
              "default": "pnl"
            },
            "description": "Sort field"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/OrderDirection",
              "description": "Sort order",
              "default": "desc"
            },
            "description": "Sort order"
          },
          {
            "name": "min_trades",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum trades per market",
              "title": "Min Trades"
            },
            "description": "Minimum trades per market"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Results per page",
              "default": 100,
              "title": "Limit"
            },
            "description": "Results per page"
          },
          {
            "name": "pagination_key",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cursor for pagination",
              "title": "Pagination Key"
            },
            "description": "Cursor for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletMarketsResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Service Unavailable"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/polymarket/wallets/filter": {
      "get": {
        "tags": [
          "polymarket",
          "smart-wallet"
        ],
        "summary": "Filter Wallets By Markets",
        "description": "Filter wallets by market trades with AND/OR logic, with metric filters on combined performance.\n\n**Use Cases:**\n- Find all wallets that traded Market A AND Market B AND Market C (intersection)\n- Find all wallets that traded Market A OR Market B OR Market C (union)\n- Filter by combined performance: wallets with combined win_rate > 50% across these markets\n\n**Query Logic:**\n- AND: Returns wallets that have traded ALL specified markets\n- OR: Returns wallets that have traded ANY of the specified markets\n\n**Metrics:**\nAll metrics (pnl, volume, win_rate, roi, profit_factor) are aggregated across the\nspecified markets only. Derived metrics (win_rate, ROI, profit_factor) are properly\ncalculated from underlying sums, not averaged.\n\nUses ClickHouse for fast aggregation across markets.",
        "operationId": "filter_wallets_by_markets_v1_polymarket_wallets_filter_get",
        "parameters": [
          {
            "name": "markets",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Comma-separated market condition IDs (1-10 markets)",
              "examples": [
                "0x123,0x456,0x789"
              ],
              "title": "Markets"
            },
            "description": "Comma-separated market condition IDs (1-10 markets)"
          },
          {
            "name": "market_logic",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/MarketFilterLogic",
              "description": "AND = traded ALL markets, OR = traded ANY market",
              "default": "and"
            },
            "description": "AND = traded ALL markets, OR = traded ANY market"
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/TimeWindow",
              "description": "Time window for metrics",
              "default": "all_time"
            },
            "description": "Time window for metrics"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/LeaderboardSortBy",
              "description": "Sort field (based on combined metrics)",
              "default": "pnl"
            },
            "description": "Sort field (based on combined metrics)"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/OrderDirection",
              "description": "Sort order",
              "default": "desc"
            },
            "description": "Sort order"
          },
          {
            "name": "min_pnl",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum combined PnL across specified markets (USD)",
              "title": "Min Pnl"
            },
            "description": "Minimum combined PnL across specified markets (USD)"
          },
          {
            "name": "max_pnl",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
[...]
